body {
  background: url(images/laptopcoffee.jpeg);
  background-size: 105%;
}

.components {
  background-color: white;
  width: 35%;
  height: 450px;
  color: black;
  margin-left: 145px;
  margin-top: 200px;
  border-radius: 5px;
}

.adminpfp {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 2rem;
  margin-top: 0.5rem;
}

header {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.35)
  );
  height: 3.5rem;
  text-align: left;
}

.glasscard {
  margin-top: 10%;
  margin-right: 0%;
  margin-left: 15%;
  background: white;
  min-height: 30rem;
  width: 35%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.35)
  );
  border-radius: 1rem;
}

.components h6 {
  font-weight: lighter;
  padding-top: 20px;
}

.title {
  margin-left: 40px;
  padding-top: 50px;
}

.row button {
  width: 200px;
  height: 45px;
  background-color: #487cec;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-left: 160px;
  margin-top: 20px;
  cursor: pointer;
}

.form-control {
  width: 75%;
}
